.inputMain{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
	background-color: #394867;
	color: #F1F6F9;
    font-family: 'Roboto', sans-serif;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.icon{

    background-image: url(../../src/img/github-brands.svg);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    opacity: 0.3;
}

.searchBox{
    border: none;
    border-radius: 10px;
    text-align: center;
	align-items: center;
    justify-content: center;
    font-size: x-large;
    width: 50%;
    height: 50px;
}