*{
    margin: 0;
    padding: 0;
}

.repo{
    background-color: rgba(255,255,255,0.75);
    box-shadow: 2px 2px 5px  rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 10px;
    height: 150px;
    align-self: center;
    justify-self: center;
    transition: 400ms ease;
    filter: blur(0);
}

.repo:hover {
    transform: translateY(-10px);
}

.repoTitle{
    font-size: 1rem;
    width: 100%;
    height: 25%;
}

.repoDescription{
    width: 100%;
    height: 65%;
    font-size: 0.5rem;
}

.repoDescription p{
    font-size: 0.85rem;
    font-weight: 300;
}

.repoInfo{
    font-size: 0.85rem;
    width: 100%;
    height: 30px;
}

.button p{
    text-align: right;
}

.repoTitle a{
    text-decoration: none;
    cursor: pointer;
    color: #14274E;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.bottom {
    word-spacing: 7px;
}

.b{
    float: right;
}