.reposContainer{
    margin: 0;
    padding: 40px 0 40px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reposTitleWrappe{
    margin: 0;
    padding: 0 0 0 30px;
    width: 1000px;
    box-sizing: border-box;
}

.sectionTitle{
    align-self: flex-start;
}
.reposWrapper{
    margin: 0;
    padding: 0;
    width: 1000px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}
