.main{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	background-color: #394867;
	color: #F1F6F9;
	font-family: 'Roboto', sans-serif;
}


.wrapper{
	background-color:#14274E;
	display: flex;
	flex-direction: column;
    align-items: center;
	align-content: center;
}

h4{
	margin: 15px;
}

.img-container{
	border-radius: 50%;
	background-color: #14274E;
	height: 135px;
	width: 135px;
	border: 10px solid #394867;
	overflow: hidden;
	z-index: 950;
	margin-top: 50px;
}

.backgroundImg{
	width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.userStats{
	display: inline;
	width: 75%;
	text-align: center;
}

.miniWrapper{
	width: 100%;
	height: 130px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	padding: 0;
    margin: 0 0 20px 0;
}

.box{
	box-shadow: 2px 2px 5px  rgba(0,0,0,0.3);
	border-radius: 10%;
	display: block;
	margin: 10px;
	padding: 5px;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.1);
	color: #F1F6F9;
	height: 90px;
	width: 120px;
	font-size: 400;
}